{% extends 'base.html.twig' %}

{% block title %}Formulaire de connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 ml-auto mb-5 mt-5">


<style>
.user-input-wrp {
	position: relative;
	
}
.user-input-wrp .inputText{
	width: 100%;
	outline: none;
	border:none;
	border-bottom: 1px solid #777;
 	box-shadow: none !important;
}
.user-input-wrp .inputText:focus{
	border-color: blue;
	border-width: medium medium 2px;
}
.user-input-wrp .floating-label {
	position: absolute;
	pointer-events: none;
	top: 22px;
	left: 10px;
    transition: 0.2s ease all;
    opacity: .5;
}
.user-input-wrp .floating-label1 {
	position: absolute;
	pointer-events: none;
	top: 98px;
	left: 10px;
    transition: 0.2s ease all;
    opacity: .5;
}
.user-input-wrp .in1:focus ~ .floating-label,
.user-input-wrp .in1:not(:focus):valid ~ .floating-label{
	top: 0px;
	left: 10px;
	font-size: 13px;
	opacity: 1;
}
.user-input-wrp .in2:focus ~ .floating-label1,
.user-input-wrp .in2:not(:focus):valid ~ .floating-label1{
	top: 70px;
	left: 10px;
	font-size: 13px;
	opacity: 1;
}

</style>


            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">Connexion</h3>
                            </div>
                            <div class="card-body">

                                <div class="user-input-wrp mb-5">
                                    <br />
                                    <input type="text" class="inputText in1" name="email" required />
                                    <span class="floating-label">Votre email</span>
                                    <br /><br /><br>
                                    <input type="password" class="inputText in2 " name="password" required />
                                    <span class="floating-label1 ">Votre mot de passe</span>
                                </div>
                                
                                {# <div class="form-group">
                                    <label class="small mb-1" for="inputEmailAddress">Email</label>
                                    <input class="form-control py-4" type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Saisissez votre email" required autofocus>
                                </div>
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Mot de Passe</label>
                                    <input class="form-control py-4" id="inputPassword" type="password"
                                        placeholder="Saisissez votre mot de passe" name="password" required>
                                </div> #}
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox"><input class="custom-control-input"
                                            id="rememberPasswordCheck" type="checkbox" /><label
                                            class="custom-control-label" for="rememberPasswordCheck">Se souvenir du
                                            mot de passe</label>
                                    </div>
                                </div>

                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <a class="small" href="index.php?page=password">Mot de passe oublié?</a>
                                    <button type="submit" name="submitConnect"
                                        class="btn btn-outline-danger col-sm-6" id="submitConnect">SE CONNECTER</button>
                                </div>
                                
                            </div>
                            <div class="card-footer text-center">
                                <div class="small"><a href="">Besoin d'aide? Cliquez ici!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



   
</form>
{% endblock %}
