{% extends 'base.html.twig' %}

{% block title %}Modification d'un apprenant{% endblock %}

{# insert embed form #}
{% form_theme form 'editor/apprenant/_collectionReseaux.html.twig' %}

{% block body %}

{% if app.user %}
<style>

    .custom-file-input {
        opacity: .4;
    }
</style>
    
    <div class="container-fluid ">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto my-5">
                <!-- insert apprenant menu -->
                {% include "editor/apprenant/_nav_apprenant.html.twig" with {'p':1} %}

                <!-- display flash message -->
                <div class="my-5">
                    <h4 class="btn btn-info btn-sm">Modifier les infos de <strong>{{apprenant.fullname|upper}}</strong></h4>
                    <div>
                        <img width="64" class="ml-auto rounded" src="{{ asset('uploads/brochures/') }}{{apprenant.avatar}}" alt="">
                    </div>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-outline-danger d-block ml-auto">Enregistrer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}



{% block javascripts %}

<script src="{{asset('assets/js/collection.js')}}"></script>

{% endblock %}