{% extends 'base.html.twig' %}

{% block title %}Ajouter une Promotion{% endblock %}

{% block body %}
{% if app.user %}

    <div class="container-fluid" >
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mb-5 mt-5">
                <!-- insert apprenant nav -->
                {% include "editor/apprenant/_nav_apprenant.html.twig" with {'p':1} %}

                <div class="my-5">
                    <!-- un tableau d'un seul apprenant -->
                    <h4 class="btn btn-info btn-sm">Fiche apprenant</h4>
                    {% for apprenant in all %}
                    <div class="row">
                        <div class="col-md-4">
                                
                            <dl class="row">
                                <dt class="col-md-4"><img class="avatar" src="{{ asset('uploads/brochures/') }}{{apprenant.apprenant.avatar}}" alt=""></dt>
                                <dd class="col-md-8 pl-5">{{apprenant.apprenant.fullname|upper}}</dd>
                            </dl>
                        </div>
                        <div class="col-md-8 ">
                            <dl class="row">
                                <dt class="col-md-4">Git compte</dt>
                                <dd class="col-md-8">{{ apprenant.apprenant.git }}</dd>
                                <dt class="col-md-4">Email</dt>
                                <dd class="col-md-8">{{ apprenant.apprenant.email }}</dd>
                                <dt class="col-md-4">Adresse</dt>
                                <dd class="col-md-8">{{ apprenant.apprenant.adresse }}</dd>
                                <dt class="col-md-4">Ville</dt>
                                <dd class="col-md-8">{{ apprenant.apprenant.ville }}</dd>
                            </dl>
                        </div>
                    </div>
                    
                    {% endfor %}
                    <div>

                        <h6 class="show-liste btn-dark p-2">Formations</h6>
                        <table class="table table-hover">
                        
                            <thead>
                                <th scope="col">N°</th>
                                <th scope="col">Annee</th>
                                <th scope="col">Début</th>
                                <th scope="col">Fin</th>
                                <th scope="col">N° d'heures</th>
                                <th scope="col">Intitulé</th>
                                
                        
                            </thead>
                            <tbody >
                                {% set i = 0 %}
                                {% for promotion in all %}
                                    {% set i = i + 1 %}
                                   
                                    <tr>
                                        <td>{{i}}</td>
                                        <td>{{ promotion.promotion.annee }}</td>
                                        <td>{{ promotion.promotion.dateDebut|date("m/d/Y") }}</td>
                                        <td>{{ promotion.promotion.dateFin|date("m/d/Y") }}</td>
                                        <td>{{ promotion.promotion.formation.nombreHeure }}</td>
                                        <td>{{ promotion.promotion.formation.intitule }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {# {% endif %} #}
                    </div>
                   
                    <div>
                        {# si l'apprenant a des réseux sociaux #}
                        {% for reseau in all %}
                            
                        
                        {% if reseau.apprenant.Reseaux|length > 0 %}
                        <h6 class="show-liste btn-dark p-2">Réseaux Sociaux</h6>
                        <table class="table table-hover">
                        
                            <thead>                       
                                <th scope="col">N°</th>
                                <th scope="col">Intitulé</th>
                                <th scope="col">Lien</th>
                            </thead>
                            <tbody>
                                {% set i = 0 %}
                                {% for reseau in reseau.apprenant.Reseaux %}
                                    {% set i = i + 1 %}
                                    <tr>
                                        <td>{{i}}</td>
                                        <td>{{reseau.nom}}</td>
                                        <td>{{reseau.lien}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <div>
                        {# si l'apprenant a des retards #}
                        {% for retard in all %}
                        {% if retard.retards|length > 0 %}
                        <h6 class="show-liste btn-dark p-2">Retards</h6>
                        <table class="table table-hover">
                            <thead>              
                                <th scope="col" style="width: 25%;">N°</th>
                                <th scope="col" style="width: 25%;">Date</th>
                                <th scope="col" style="width: 25%;">N° d'heures</th>  
                                <th scope="col" style="width: 25%;">Justifié</th>
                            </thead>
                            <tbody>
                                {% set i = 0 %}
                                {% for retard in retard.retards %}
                                {% set i = i + 1 %}
                                <tr>
                                    <td>{{i}}</td>
                                    <td>{{retard.date|date('d/m/y')}}</td>
                                    <td>{{retard.nombreheure}}</td>
                                    <td>{{retard.justifie}}</td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <div> 
                        {# si l'apprenant a des absences #}
                        {% for absence in all %}
                        {% if absence.absences|length > 0 %}
                        <h6 class="show-liste btn-dark p-2">Absences</h6>
                        <table class="table table-hover">
                            <thead>
                                <th scope="col"style="width: 25%;">N°</th>
                                <th scope="col"style="width: 25%;">Date de début</th>
                                <th scope="col" style="width: 25%;">Date de fin</th>
                                <th scope="col" style="width: 25%;">Justifié</th>
                            </thead>
                            <tbody>
                                {% set i = 0 %}
                                {% for absence in absence.absences %}
                                {% set i = i + 1 %}
                                <tr>
                                    <td>{{i}}</td>
                                    <td>{{absence.dateDebut|date('d/m/y')}}</td>
                                    <td>{{absence.datefin|date('d/m/y')}}</td>
                                    <td>{{absence.justifie}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                        {% endfor %}
                            
                    </div>

                    <div>
                        <h6 class="show-liste btn-dark p-2">Fiche Profil</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block javascripts %}


{% endblock %}