{% extends 'base.html.twig' %}

{% block title %}Liste des absences{% endblock %}

{% block body %}
{% if app.user %}


<style>
    input {
        outline: none;
        border: none;
        border-bottom: 1px solid #777;
    }

    form input:focus {
        border-color: blue;


    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mb-3 mt-5">

            {% include "editor/apprenant/_nav_apprenant.html.twig" with {"p": 3} %}

            <div class="my-5">
                <!-- flash messages -->
                {% include "template_parts/_flash_message.html.twig" %}

                <h4 class="btn btn-info btn-sm">Liste des absences</h4>
                <!-- formulaire de recherche -->
                <form action="{{ path('editor_absence_chercher') }}" class="  ml-auto w-50 bg-info" style="position: relative;">
                    <input class="float-right form-group mr-2 " placeholder="chercher" type="text"
                        name="chercher_absence">
                    <button class=" badge badge-primary mr-2" style="position: absolute;right:0;cursor:pointer"
                        type="submit"><i class="fa fa-search "></i></button>
                </form>

                <table class="table table-hover">

                    <thead>

                        <th scope="col">Date de début</th>
                        <th scope="col">date de fin</th>
                        <th scope="col">Justifié</th>
                        <th scope="col">Apprenant</th>
                        <th scope="col">Promotion</th>

                        <th style="width: 15%;">Actions</th>
                    </thead>
                    <tbody>
                        {% for absence in absences %}
                        <tr>
                            <td>{{ absence.dateDebut|date("d/m/Y") }}</td>
                            <td>{{ absence.datefin|date("d/m/Y") }}</td>
                            <td>{{ absence.justifie }}</td>
                            <td>{{ absence.promoappre.apprenant.fullname|upper }}</td>
                            <td>{{ absence.promoappre.promotion.annee }}-{{ absence.promoappre.promotion.formation.intitule }}</td>
                        
                        
                        
                        
                            <!-- dans la dernère cellule, il y a trois liens: supprimer, modifier et visualiser -->
                            <td>
                                <!-- modifier un apprenant -->
                                <a class="btn btn-success btn-sm modif_promotion" title="modifier"
                                    href="{{ path('editor_absence_edit',{'id':absence.id}) }}"><i class="far fa-edit"></i></a>
                                    
                                <!-- supprimer un apprenant qui va afficher d'abord un message de confirmation -->
                                <a class="btn btn-danger btn-sm delete-record" title="supprimer" href="#"><i
                                        class="fas fa-trash-alt delete-promotion"></i></a>
                        
                        
                        
                        
                                <!-- div qui contient le message de confirmation afin de supprimer un apprenant -->
                                <div class="delete-confirm border bg-light  m-auto rounded p-3" style="position: absolute;top:40%;left:30%">
                                    <div>
                                        <h4>Vous êtes sûr de vouloir supprimer?</h4>
                                    </div>
                                    <div>
                                        <a class="btn btn-success non" href="">Non</a>
                                        <a class="btn btn-danger " href="{{ path('editor_absence_delete',{'id':absence.id}) }}">Oui</a>
                        
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <a class="btn btn-primary btn-sm" title="ajouter" href="{{ path('editor_absence_new') }}"><i
                        class="fas fa-plus-square"></i></a>

                <!-- pagination -->
                {% if pages == 0 %}
                {% set pages = 1 %}
                {% endif %}
                <nav class="">
                    <ul class="pagination pagination-sm justify-content-center">
                        <li class="page-item {% if page == 1 %}disabled{%  endif %}">
                            <a class="page-link" href="{{ path('editor_absence',{'page':page - 1}) }}" tabindex="-1">&laquo;</a>
                        </li>
                        {% for i in 1..pages %}
                        <li class="page-item {% if page == i %}active{% endif %}">
                            <a class="page-link" href="{{ path('editor_absence',{'page':i}) }}">{{i}} <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        {% endfor %}
                
                        <li class="page-item {% if page == pages %}disabled{%  endif %}">
                            <a class="page-link" href="{{ path('editor_absence',{'page':page + 1}) }}">&raquo;</a>
                        </li>
                    </ul>
                </nav>

            </div>
            {# end body #}

        </div>
    </div>
</div>
{% endif %}
{% endblock %}

