{% extends 'base.html.twig' %}

{% block title %}Gestion des Offres{% endblock %}

{% block body %}
{% if app.user %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mb-5 mt-5">

            {% include "editor/entreprise/_nav_entreprise.html.twig" with {'p':2} %}

            {# pour afficher le flash message #}
            <div class="my-5">

                <!-- flash messages -->
                {% include "template_parts/_flash_message.html.twig" %}

                <h4 class="btn btn-info btn-sm">Liste des offres</h4>
                <table class="table table-hover">
                    <thead>
                        <th scope="col" style="width: 15%;">Entreprise</th>
                        <th scope="col" style="width: 15%;">Type d'offre</th>
                        <th scope="col" style="width: 12%;">Date de début</th>
                        <th scope="col" style="width: 12%;">Date de fin</th>
                        <th scope="col">Cahier des charges</th>
                        <th scope="col" style="width: 15%;">Actions</th>
                        
                    </thead>
                    <tbody>

                        {% for offre in offres %}
                        <tr>
                            <td>{{ offre.Entreprise.Nom }}</td>
                            <td>{{ offre.Intitule }}</td>
                            <td>{{ offre.DateDebut|date('d/m/Y') }}</td>
                            <td>{{ offre.DateFin|date('d/m/Y') }}</td>
                            <td>{{ offre.CahierDesCharges }}"</td>
                            

                            <td>
                                <a class="btn btn-success btn-sm modif_promotion" title="modifier"
                                href="{{ path('editor_offre_edit',{'id':offre.id}) }}"><i
                                class="far fa-edit"></i></a>

                                <a class="btn btn-danger btn-sm delete-record" title="supprimer" href="#"><i
                                        class="fas fa-trash-alt delete-promotion"></i></a>
                                        
                                <div class="delete-confirm border bg-light  m-auto rounded p-3"
                                    style="position: absolute;top:40%;left:30%">
                                    <div>
                                        <h4>Vous êtes sûr de vouloir supprimer?</h4>
                                    </div>
                                    <div>
                                        <a class="btn btn-success non" href="">Non</a>
                                        <a class="btn btn-danger" href="{{ path('editor_offre_delete',{'id':offre.id}) }}">Oui</a>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <a class="btn btn-primary btn-sm" title="ajouter" href="{{ path('editor_offre_new') }}"><i
                        class="fas fa-plus-square"></i></a>

                <!-- pagination -->
                {% if pages == 0 %}
                {% set pages = 1 %}
                {% endif %}
                <nav class="">
                    <ul class="pagination pagination-sm justify-content-center">
                        <li class="page-item {% if page == 1 %}disabled{%  endif %}">
                            <a class="page-link" href="{{ path('editor_offre',{'page':page - 1}) }}" tabindex="-1">&laquo;</a>
                        </li>
                        {% for i in 1..pages %}
                        <li class="page-item {% if page == i %}active{% endif %}">
                            <a class="page-link" href="{{ path('editor_offre',{'page':i}) }}">{{i}} <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        {% endfor %}
                
                        <li class="page-item {% if page == pages %}disabled{%  endif %}">
                            <a class="page-link" href="{{ path('editor_offre',{'page':page + 1}) }}">&raquo;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}